{
	"plugins": ["prettier-plugin-svelte"],
	"trailingComma": "all",
	"tabWidth": 3,
	"semi": true,
	"quoteProps": "consistent",
	"singleQuote": true,
	"useTabs": true,
	"jsxSingleQuote": false,
	"printWidth": 150,
	"importOrder": ["^@/(.*)$", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
